name: Backend CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore WMS-API/Wms.sln

      - name: Build
        run: dotnet build WMS-API/Wms.sln --no-restore

      - name: Test
        run: dotnet test WMS-API/Wms.sln --no-build
